	<h1>
		<%=params.id%>. <%=commandment.title%>
	</h1>
	<h3><%-commandment.body%></h3>
	<nav class="commandment-nav">
		<a href="/commandment/<%=params.id-1%>" class="nav-prev <%=params.id == 1 ? 'disabled' : ''%>"> &#8249; </a>
		<%i = 0; while(i<10){ i++%>
			<a href="/commandment/<%=i%>" class="nav-num <%=params.id == i ? 'active' : ''%>" title="See commandment #<%=i%>"> &bull; </a>
		<%}%>
		<a href="/commandment/<%=Number(params.id)+1%>" class="nav-next <%=params.id == 10 ? 'disabled' : ''%>"> &#8250; </a>
	</nav> 
</header>
<a class="scrollto-comment"><span>&darr;</span>Add your commentary below</a>
	<div class="page-content comments-container" id="commentary">
				<h4>Commentary</h4>
				<form class="form new-commment">
					<div class="form-group">
						<textarea class="form-control" rows="5" name="body" placeholder="Write your commentary" required></textarea>
					</div>
					<div class="form-group row">
					  <div class="col-md-6">
						  <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>			  	
					  </div>
					  <div class="col-md-6">
						  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>			  	
					  </div>
					</div>
					<input type="hidden" name="id" value="<%=params.id%>"/>
					<input type="hidden" name="date" value="<%=(new Date())%>"/>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
				
<%if(commandment.comments && commandment.comments.length){%>
				<ul class="comments-list list-unstyled">
					
					
		<%commandment.comments.forEach(function(comment){%>
			<li class="row">
						<div class="comment-meta col-md-12">
							<span class="comment-name">
									<%=comment.name%>
							</span>
							<span class="comment-date"><%=comment.date%></span>							
						</div>
						<div class="comment-body col-md-12">
							<h5><%=comment.title%></h5>
							<%-comment.body%>
						</div>						
					</li>
		<%});%>
		</ul>
	<%}else{%>
			Be the first to comment
	<%}%>



			</div>

		</div>

